<!doctype html>
<html>
<head>
	<title>CS602 Project Hou</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<script src="/javascripts/clickActions.js" type="text/javascript"></script>
	<script src="/javascripts/inputActions.js" type="text/javascript"></script>
 	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdn.bootcss.com/handlebars.js/4.1.2/handlebars.min.js"></script>

</head>
<body>

	<header>
		<img src="/images/bu-logo.gif" alt="logo">
		<p>
		<center>
			<h3>CS602 Project - Xiaobing Hou</h3>
			<nav id="nav">
				<ul style="font-size: larger; font-weight: bold">
					<li>
					<a href="/customers/1">Customer</a>
					</li>
					<li>
					<a href="/admin">Admin</a>
					</li>
				</ul>
		</nav>
			<h4>View: {{title}}</h4>
		</center>
	</header>
	<div id="root" class="panel-body">
		{{{body}}}
	</div>
	

</body>
</html>


