<div>
  <div class="table-responsive">
    <table class="table table-condensed">
      <nav>
        <ul style="font-size: larger; font-weight: bold">
          <li>
            <a href="/admin/display/customers">List Customers</a>
          </li>
          <li>
            <a href="/admin/show/products">List Products</a>
          </li>
        </ul>
      </nav>

    </table>
  </div>
</div>