<div>
  <div class="table-responsive">
    <table class="table table-condensed">
      <nav>
        <ul>
          {{#each data}}
            <li>
              <a href="admin/{{customerID}}">{{firstName}} {{lastName}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
    </table>
  </div>
</div>