<div>
  <div class="table-responsive">
    <table class="table table-condensed">
      <nav>
        <ul style="font-size: medium; font-weight: bold">
          {{#each data}}
            <li>
              <a href="/admin/display/customers/{{customerID}}">{{firstName}} {{lastName}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
    </table>
  </div>
</div>